terraform/modules/dilbert-feed/state_machine.json
{
  "StartAt": "GetStrip",
  "States": {
    "GetStrip": {
      "Type": "Task",
      "Resource": "${function_prefix}get-strip",
      "ResultPath": "$.strip",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "GenFeed"
    },
    "GenFeed": {
      "Type": "Task",
      "Resource": "${function_prefix}gen-feed",
      "ResultPath": "$.feed",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "StoreMetadata"
    },
    "StoreMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${metadata_table}",
        "Item": {
          "date": {
            "S.$": "$.strip.date"
          },
          "strip": {
            "M.$": "$.strip"
          },
          "feed": {
            "M.$": "$.feed"
          }
        }
      },
      "ResultPath": "$.dynamodb",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "SendHeartbeat"
    },
    "SendHeartbeat": {
      "Type": "Task",
      "Parameters": {
        "endpoint": "${heartbeat_endpoint}"
      },
      "Resource": "${function_prefix}heartbeat",
      "ResultPath": "$.heartbeat",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}
